.background {
    position: absolute;
    left: 25%;
    right: 0%;
    top: 10%;
    bottom: 0%;
    height: 539px;
    width: 720px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.9);
}

.close {
    position: absolute;
    right: 40px;
    top: 60px;
}