.close {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: 300px;
    z-index: 998;
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -360px;
    height: 540px;
    width: 720px;
    border-radius: 40px;
    background-color: #1C1C21;
    z-index: 998;
}