.stats{
    display: flex;
    gap: 30px;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -275px;
    width: 550px;
    height: 450px;
}